* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}

#app {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
header {
	height: 60px;
	background: gray;
}

/* Main
-----------------------------------------------------------------------------*/
main {
	padding: 0 0 60px;
}

/* Footer
-----------------------------------------------------------------------------*/
footer {
	margin: -60px auto 0;
	height: 60px;
	background: gray;
	position: relative;
}